@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --primary-bg: #212121;
  --secondary-bg: #323232;
  --accent: #0d7377;
  --highlight: #14ffec;
  --text-dark: #e0e0e0;
}

@font-face {
  font-family: "Light";
  src: local("ITCAvantGardeStd-Bk"),
    url("./fonts/ITCAvantGardeStd-Bk.otf") format("opentype");
}

html,
body {
  --default-font-family: "ITCAvantGardeStd-Bk", sans-serif;
  font-family: var(--default-font-family);
  background-color: var(--primary-bg);
  color: var(--text-dark);
}

header {
  background-color: var(--secondary-bg);
  padding: 20px;
  text-align: center;
}

button {
  background-color: var(--accent);
  color: var(--primary-bg);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}

button:hover {
  background-color: var(--highlight);
  color: var(--primary-bg);
}
